.wrapper {
  margin: 24px 0;
}

.title {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.users {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.link {
  display: inline-block;
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }
}

.message {
  font-size: 20px;
  text-align: center;
}
